:root {
  /* Primary Accent Colors */
  --accent: #2337ff;            /* Primary accent color */
  --accent-dark: #000d8a;       /* Darker shade of accent */
  --accent-red: #ff4b4b;   

  /* Basic Colors in RGB for flexibility */
  --black: 15, 18, 25;          /* Black in RGB */
  --gray: 96, 115, 159;         /* Gray in RGB */
  --gray-light: 229, 233, 240;  /* Light gray in RGB */
  --gray-dark: 34, 41, 57;      /* Dark gray in RGB */

  /* Gradient and Shadows */
  --gray-gradient: linear-gradient(135deg, rgba(var(--gray-light), 0.5), #fff); /* Gradient from light gray to white */
  --box-shadow: 
      0 2px 6px rgba(var(--gray), 0.25),      /* Small shadow */
      0 8px 24px rgba(var(--gray), 0.33),     /* Medium shadow */
      0 16px 32px rgba(var(--gray), 0.33);    /* Large shadow */
      
  /* Font and Background Colors */
  --font-color: #ffffff;                      /* Changed to white */
  --background-color: rgb(var(--black));      /* Background color */
  --card-bg: rgba(var(--gray-light), 0.8);    /* Card background */

}

/* Usage Example */
body {
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.card {
  background: var(--card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 20px;
}


/* Clase para aplicar color rojo a iconos y texto */
.text-red {
  color: var(--accent-red);
}

.icon-red {
  color: var(--accent-red);
}